.window-app .window-content section.acn-notes-container {
  flex: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

#sidebar .combat-sidebar {
  .combat-tracker-header {
    nav.encounters {
      a.combat-button:last-of-type {
        margin-left: auto;
      }
    }
  }
}
