#sidebar .combat-sidebar {
  .combat-tracker-header {
    nav.encounters {
      a.combat-button:last-of-type {
        margin-left: auto;
      }
    }
  }
}

.window-app .window-content section.acn-notes {
  flex: 100;

  .notes-drop-target {
    border: 4px dashed #aaa;
    padding: 1em;
    font-size: 1.5em;
  }
}
