.combat-button.open-combat-notes {
  color: var(--color-text-primary);
}

.acn-overview section.acn-notes {
  flex: 100;

  td.text-center {
    text-align: center;
  }

  td.frequency-column {
    width: 180px;

    .frequency {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 180px;

      .frequency-interval {
        display: flex;
        flex-direction: row;
        gap: 5px;
        line-height: 1.8;

        input {
          text-align: left;
        }
      }
    }
  }

  td.actions-column {
    width: 80px;
  }

  .notes-drop-target {
    position: relative;
    border: 4px dashed #aaa;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    transition: border-color 0.3s ease-in-out;

    .text {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    .fas {
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      font-size: 40px;
      color: #666;
    }

    &.drag-over {
      border-color: #666;

      .text {
        opacity: 0;
      }

      .fas {
        opacity: 1;
      }
    }
  }
}
